// Color system

$brand-alpha: #002D37;

$callout-alpha: #FFA500;
$callout-beta: #1EBEE6;

$accent-alpha: #B4E6A5;
$accent-beta: #FFF8EA;

$success: #D9E994;
$warning: #F4D189;
$danger: #DD8074;

$grey-alpha: #D0D0D0;
$grey-beta: #9D9D9C;
$grey-gamma: #6F6F6F;

// Typography

$font-family: Roboto, sans-serif;
